/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  .banner-noti{
    width: 100%;
    height: 50% !important;
    background-color: #1d1b31;
    color: aliceblue;
    text-align: center;
}


  /* Contenedor del formulario */
  .form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Formulario */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Etiquetas y campos de formulario */
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  input[type="email"] {
    width: 100%;
  }
  
  select {
    width: 100%;
    padding: 10px;
  }
  
  textarea {
    height: 150px;
    resize: vertical;
  }
  
  /* Botón de envío */
  button[type="submit"] {
    background-color: #fd7e14;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #f7ab54;
  }
  
  /* Media queries para responsividad */
  @media (max-width: 768px) {
    .form-container {
      margin: 20px auto;
      padding: 10px;
    }
    form {
      padding: 10px;
      margin-bottom: 90px !important;

    }
    input, select, textarea {
      margin-bottom: 10px;
    }
   
  }
  
  @media (max-width: 480px) {
    .form-container {
      margin: 10px auto;
      padding: 5px;
    }
    form {
      padding: 5px;
    }
    input, select, textarea {
      margin-bottom: 5px;
    }
    .main{
      margin-bottom: 100px !important;

      
    }
  }