
main {
    display: grid;
    justify-items: center;
    margin-bottom:8%;

}
.banner-curso {
    width: 100%;
    background-color: #1d1b31;
    color: aliceblue;
    text-align: center;
}

.container-asistencia {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
   /*  width: 120%; */
/*     max-width: 400px; */
}
.inputs {
    width: 50%;
    margin-top: 2.5rem;
    margin-left: 14%;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}

.input-group {
    display: flex;
    flex-direction: column; /* Los elementos dentro del grupo se colocan en columna */
}

label {
    margin-bottom: 0.5rem; /* Espacio entre el label y el input */
}

.btn-save {
    width: 15%;
    border-radius: 5px;
    margin-top: 2.2rem;

}
.btn-save i {
    font-size: 30px;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}
.btn-green {
    background-color: #4CAF50;
    color: white;
}
.btn-yellow {
    background-color: #FFC107;
    color: black;
}
.btn-check {
    background-color: #007BFF;
    color: white;

    position: relative;
}

.table-asistencia {
    width: 100%;
    border-collapse: collapse;
}
.table-asistencia th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table-asistencia th {
    background-color: #f8f8f8;
}


