/* Hoja de estilos del Formulario de contactos. */

body{
    background: url(../Contactanos/assets/fondo.jpg) no-repeat center center fixed; 
    background-size: contain no-repeat;
   

}


img{
    color: rgb(252, 238, 211);
    width: 120%;
    height: 400px;
   background-size:cover;
}

.form{
    background:  rgb(252, 238, 211);
    height: 400px !important;
}

.custom-container {
    height: 400px; /* Cambia el valor según tu preferencia */
}

.form-control-edit {
    margin-top: 12px;
    display: block;
    width: 90%;
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    background-clip: padding-box;
    border: var(--bs-border-width) solid  ;
    border-radius: var(--bs-border-radius);
    /* transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; */
}
.btn-enviar{

    margin-top: 10px;
    width:  30% !important; 
    border-radius: 15px; 
    border: none;
    color: aliceblue;
    background-color: #f7ab54 ;
}

/*Final de la Hoja de estilos del Formulario de contactos. */